<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Base_url</key>
	<string>$(BASE_URL)</string>
	<key>Https</key>
	<string>$(HTTPS)</string>
	<key>User</key>
	<string>$(USER)</string>
</dict>
</plist>
